.page {
  background-image: url("../img/main-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.page__header {
  background-color: var(--color_white);
  box-shadow: 0px 55px 30px 10px #fff;
}

.page__quick-platforms {
  display: flex;
  margin-bottom: 25px;
}

.page__platforms-item {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 11px;
  backdrop-filter: blur(4.419127464294434px);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.hh {
  background-color: rgba(255, 98, 92, 0.2);
  background-image: url("../img/logo-hh.svg");
}

.youla {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(5, 59, 242, 0.2) 0%,
    rgba(0, 255, 254, 0.2) 100%
  );
}

.youla::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  background-image: url("../img/logo-youla.svg");
  background-repeat: no-repeat;
}

.zarplata {
  background-image: url("../img/logo-zarplata.svg");
  background-color: rgba(255, 180, 0, 0.2);
}

.avito {
  background-image: url("../img/logo-avito.svg");
  background-color: rgba(151, 207, 38, 0.2);
}

.rabota {
  background-color: rgba(82, 123, 218, 0.2);
  background-image: url("../img/logo-rabota.svg");
}

.superjob {
  background-color: rgba(0, 175, 143, 0.2);
  background-image: url("../img/logo-superjob.svg");
}

.vk {
  background-color: rgba(0, 119, 255, 0.2);
  background-image: url("../img/logo-vk.svg");
}

.careerist {
  background-color: rgba(237, 117, 24, 0.2);
  background-image: url("../img/logo-careerist.svg");
}

.tg {
  background-color: rgba(55, 187, 254, 0.2);
  background-image: url("../img/logo-tg.svg");
  z-index: 1;
}

.other {
  background-color: var(--color_zircon);
  background-image: url("../img/logo-other.svg");
}

.page__platforms-item:not(:first-child) {
  margin-left: -9px;
}

.page__descr-price {
  text-decoration: underline;
}

.page__quick-decor {
  width: 700px;
  height: 643px;
  background-image: url("../img/quick-decor.png");
  background-repeat: no-repeat;
}

.page__quick-wrapper {
  position: relative;
  max-width: 1324px;
  padding: 0 5rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.page__quick-decor {
  position: absolute;
  top: 30px;
  right: -60px;
}

.page__quick {
  background-image: url("../img/main-first-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.page__quick-content {
  max-width: 574px;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 95px;
}

.page__quick-title {
  margin-bottom: 24px;
}

.page__quick-descr {
  margin-bottom: 57px;
}

.page__quick-move {
  margin-bottom: 20px;
}

.page__quick-descr__second {
  width: fit-content;
  padding-left: 15px;
}

/* video */
.page__video {
  position: relative;
  background-image: url("../img/presentation.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page__video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    -179.933deg,
    #053bf2 17%,
    rgba(197, 104, 254, 0%) 100%
  );
}

.page__video-wrapper {
  min-height: 767px;
  position: relative;
}

/* Кастомный видео-презентатор */
.video-promo {
  position: absolute;
  top: 7px;
  left: 1px;
  width: calc(100% - 1px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.video-play-btn {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.video-play-btn::after {
  content: "";
  display: block;
  width: 33px;
  height: 40px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 28px;
  left: 34px;
}
.video-play-btn:hover {
  box-shadow: 0 0 20px #053bf2;
  transform: scale(1.25);
}

.video-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.video-modal.active {
  display: flex;
}
.video-modal video {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 16px;
  box-shadow: 0 0 32px #053bf2;
}
.video-close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
}
.video-close-btn::before,
.video-close-btn::after {
  content: "";
  position: absolute;
  left: 22px;
  top: 12px;
  width: 4px;
  height: 24px;
  background: #fff;
  border-radius: 2px;
}
.video-close-btn::before {
  transform: rotate(45deg);
}
.video-close-btn::after {
  transform: rotate(-45deg);
}

.page__video-title {
  position: absolute;
  left: 50%;
  top: 84px;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

/* map */
.page__map-wrapper {
  max-width: 1336px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 198px;
  margin-bottom: 319px;
}

.page__map-publish {
  position: relative;
  margin-bottom: 320px;
}

.page__map-responses {
  position: relative;
  margin-bottom: 377px;
}

.page__map-communication {
  position: relative;
}

.page__publish-content {
  max-width: 580px;
  width: 100%;
  margin-left: auto;
}

.page__publish-title {
  margin-bottom: 16px;
}

.page__publish-descr {
  margin-bottom: 46px;
}

.page__publish-img {
  position: absolute;
  top: -166px;
  left: -85px;
}

.page__responses-content {
  max-width: 540px;
  width: 100%;
  padding-left: 77px;
}

.page__responses-title {
  margin-bottom: 16px;
}

.page__responses-img {
  position: absolute;
  right: -42px;
  top: -195px;
}

.page__communication-content {
  max-width: 581px;
  margin-left: auto;
  padding-right: 8px;
}

.page__comminication-img {
  position: absolute;
  top: -229px;
  left: -46px;
}

.page__communication-title {
  margin-bottom: 16px;
}

.page__communication-img {
  position: absolute;
  top: -229px;
  left: -46px;
}

/* tools */
.page__tools {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 180px;
}

.page__tools-wrapper {
  max-width: 1416px;
  width: 100%;
  background-color: var(--color_white);
  border-radius: 35px;
  margin: 0 auto;
  padding: 40px;
}

.page__tools-ai {
  overflow: hidden;
  border-radius: 35px;
  padding: 4.8rem;
  position: relative;
  background: linear-gradient(179deg, #053bf2 0%, #000 100%);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
}

.page__tools-ai::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/ai-bot.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 696px;
  pointer-events: none;
}

.page__comments,
.page__actions,
.page__storage,
.page__research {
  position: relative;
  border-radius: 35px;
  background-color: var(--color_aqua);
  padding: 40px;
  padding-top: 151px;
  min-height: 340px;
}

.page__tools-ai {
  max-width: 500px;
  grid-area: a;
}

.page__comments {
  grid-area: b;
}

.page__actions {
  max-width: 402px;
  grid-area: c;
}

.page__storage {
  max-width: 402px;
  grid-area: d;
}

.page__research {
  grid-area: e;
}

.page__tools-top {
  display: grid;
  grid-template-areas:
    "a a a a a b b c c"
    "a a a a a d d e e";
  gap: 16px;
  margin-bottom: 16px;
}

.page__ai-title,
.page__ai-descr {
  z-index: 1;
}

.page__comments::before {
  content: "";
  position: absolute;
  width: 126px;
  height: 101px;
  top: 26px;
  left: 14px;
  background-image: url("../img/comments.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__actions::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: 28px;
  left: 30px;
  background-image: url("../img/actions.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__storage::before {
  content: "";
  position: absolute;
  width: 132px;
  height: 132px;
  top: 10px;
  left: 12px;
  background-image: url("../img/storage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__research::before {
  content: "";
  position: absolute;
  width: 101px;
  height: 91px;
  top: 29px;
  left: 34px;
  background-image: url("../img/research.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__tools-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.page__advantage-chat {
  position: relative;
  margin-bottom: 16px;
  background-color: var(--color_aqua);
  padding: 40px;
  padding-top: 151px;
  border-radius: 35px;
}

.page__advantage-search {
  position: relative;
  background-color: var(--color_chalk);
  padding: 40px;
  padding-top: 151px;
  border-radius: 35px;
}

.page__api {
  position: relative;
  background: linear-gradient(180deg, #8a38f5 0%, #000 100%);
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 48px;
  row-gap: 18px;
}

.page__api::before {
  content: "";
  position: absolute;
  width: 644px;
  height: 234px;
  background-image: url("../img/cloudy-second.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 16px;
}

.page__api::after {
  content: "";
  position: absolute;
  width: 660px;
  height: 353px;
  background-image: url("../img/cloudy.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}

.page__advantage-chat::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  width: 134px;
  height: 134px;
  background-image: url("../img/hands.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__advantage-search::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 37px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 105px;
  height: 106px;
}

.page__tools-text {
  text-align: center;
  margin-bottom: 57px;
}

.page__tools-pre {
  display: inline-block;
  margin-bottom: 5px;
}

.page__comments-title,
.page__actions-title,
.page__storage-title,
.page__research-title {
  margin-bottom: 14px;
}

.page__chat-title {
  margin-bottom: 15px;
}

.page__search-title {
  margin-bottom: 15px;
}

/* rates */
.page__rates {
  padding: 0 50px;
  margin-bottom: 180px;
}

.page__rates-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
}

.page__rates-pre {
  margin-bottom: 8px;
}

.page__rates-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  max-width: 1224px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page__rates-min,
.page__rates-mid,
.page__rates-max {
  background-color: var(--color_white);
  border-radius: 35px;
  height: fit-content;
}

.page__min-header,
.page__mid-header,
.page__max-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color_wild-sand);
}

.page__min-title,
.page__mid-title,
.page__max-title {
  margin-bottom: 7px;
}

.page__min-main,
.page__mid-main,
.page__max-main {
  min-height: 455px;
  border-bottom: 1px solid var(--color_wild-sand);
}

.page__min-sale,
.page__mid-sale,
.page__max-sale {
  padding: 16px 32px;
  border-bottom: 1px solid var(--color_wild-sand);
}

.page__min-total,
.page__mid-total,
.page__max-total {
  padding: 20px 32px;
  padding-bottom: 24px;
}

.page__web-include {
  padding: 30px;
  padding-left: 33px;
  padding-bottom: 4px;
}

.page__include-title {
  margin-bottom: 25px;
}

.page__include-item.page__platforms-item {
  width: 38px;
  height: 38px;
}

.page__include-item.page__platforms-item:not(:first-child) {
  margin-left: -6.5px;
}

.page__include-item.hh {
  background-image: url("../img/hh-22.svg");
}

.page__include-item.rabota {
  background-image: url("../img/rabota-22.svg");
}

.page__include-item.zarplata {
  background-image: url("../img/zarplata-22.svg");
}

.page__include-item.careerist {
  background-image: url("../img/careerist-22.svg");
}

.page__include-item.youla::after {
  width: 22px;
  height: 22px;
  background-image: url("../img/youla-22.svg");
  top: 7px;
  left: 10px;
}

.page__include-item.superjob {
  background-image: url("../img/superjob-22.svg");
}

.page__include-item.vk {
  background-image: url("../img/vk-22.svg");
}

.page__include-item.avito {
  background-image: url("../img/avito-22.svg");
}

.page__include-list {
  display: flex;
}

.page__update {
  padding: 27px 32px;
}

.page__update-title {
  margin-bottom: 16px;
}

.page__update-item {
  display: flex;
  column-gap: 8px;
}

.page__update-item:not(:last-child) {
  margin-bottom: 6.5px;
}

.page__update-check {
  flex-shrink: 0;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page__more {
  padding: 4px 33px;
}

.page__more-wrapper {
  display: flex;
  column-gap: 15px;
}

.page__mid-main .page__more-wrapper {
  column-gap: 8px;
}

.page__more-title {
  margin-bottom: 15px;
}

.page__more-decor {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/user-icon.png");
}

.page__more-descr {
  line-height: 130%;
  padding-right: 60px;
}

.page__sale-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__sale-toggle {
  display: flex;
  align-items: center;
  padding: 0 3px;
  width: 50px;
  height: 24px;
  background-color: var(--color_wild-sand);
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.page__toggle-trigger {
  width: 18px;
  height: 18px;
  background-color: var(--color_shuttle);
  border-radius: 50%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.page__sale-toggle.active {
  background-color: var(--color_zircon);
}

.page__sale-toggle.active .page__toggle-trigger {
  background-color: var(--color_ribbon);
  transform: translateX(24px);
}

.page__total-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page__total-price {
  display: flex;
}

.page__price-cur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1px;
}

.page__price-item {
  margin-right: 16px;
}

.page__cur-divider {
  height: 1px;
  width: 100%;
  background-color: var(--color_mirage);
  opacity: 0.56;
}

.page__total-accept {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

.page__total-more {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.page__table-header {
  display: flex;
  justify-content: space-between;
  padding: 15.5px 10px;
  line-height: normal;
  margin-bottom: 3px;
}

.page__sale-table {
  margin-top: 0;
  max-height: 0;
  height: 100%;
  overflow: hidden;
  transition-property: max-height, margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.page__sale-table.active {
  margin-top: 34px;
  max-height: 465px;
}

.page__btn-sale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 11.5px 16px;
  line-height: normal;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.page__btn-sale:hover {
  background-color: var(--color_wild-sand);
}

.page__rates-personal {
  max-width: 1224px;
  margin: 0 auto;
  background-color: var(--color_white);
  border-radius: 35px;
  padding: 48px;
  background-image: url("../img/calc.png");
  background-size: contain;
  background-position: 98%;
}

.page__personal-title {
  margin-bottom: 16px;
}

.page__personal-descr {
  max-width: 44%;
  margin-bottom: 34px;
}

.page__rates-mid {
  position: relative;
}

.page__rates-mid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 5px solid rgba(0, 95, 255, 0.5);
  border-radius: 35px;
  z-index: 2;
  pointer-events: none;
}

.page__rates-mid::after {
  content: "Выбор клиентов";
  position: absolute;
  top: -43px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px 16px 0 0;
  background-color: var(--color_caribbean);
  box-shadow: 0 0 25px 0 rgba(0, 104, 67, 0.25);
  color: var(--color_white);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 9.5px 16px;
  z-index: 1;
  white-space: nowrap;
}

/* trust */
.page__trust {
  padding: 0 50px;
  margin-bottom: 179px;
}

.page__trust-wrapper {
  margin: 0 auto;
  max-width: 1416px;
  width: 100%;
  background-color: var(--color_white);
  border-radius: 35px;
  padding: 50px;
}

.page__trust-text {
  text-align: center;
  margin-bottom: 55px;
}

.page__trust-content {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 16px;
}

.page__content-guarantees {
  border-radius: 35px;
  background-color: var(--color_aqua);
  padding: 36px;
  padding-left: 143px;
  background-image: url("../img/guarantees.png");
  background-position: 32px 15px;
}

.page__content-it {
  border-radius: 35px;
  background: linear-gradient(
    90deg,
    rgba(5, 59, 242, 0.1) 0%,
    rgba(138, 56, 245, 0.1) 100%
  );
  position: relative;
  padding: 35px;
  padding-left: 144px;
}

.page__content-it::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 32px;
  width: 100%;
  height: 100%;
  background-image: url("../img/it.png");
  background-size: auto;
  background-repeat: no-repeat;
  pointer-events: none;
}

.page__trust-pre {
  display: inline-block;
  margin-bottom: 10px;
}

.page__guarantees-title {
  margin-bottom: 15px;
}

.page__guarantees-descr {
  margin-bottom: 17px;
}

.page__guarantees-descr {
  margin-bottom: 24px;
}

.page__guarantees-item {
  align-items: flex-start;
  display: flex;
  column-gap: 14px;
}

.page__guarantees-item:not(:last-child) {
  margin-bottom: 8px;
}

.page__it-title {
  margin-bottom: 15px;
}

/* slider cases */
.page__cases {
  padding: 0 50px;
  margin-bottom: 264px;
}

.page__cases-slider {
  position: relative;
}

.page__cases-text {
  text-align: center;
  margin-bottom: 47px;
}

.page__cases-pre {
  margin-bottom: 10px;
  display: inline-block;
}

.page__cases-wrapper {
  max-width: 1416px;
  margin: 0 auto;
}

.gazelkin__wrapper,
.art__wrapper,
.itc__wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 16px;
}

.gazelkin__brief,
.art__brief,
.itc__brief {
  background-color: var(--color_white);
  border-radius: 35px;
  padding: 40px;
}

.gazelkin__brief-title,
.art__brief-title,
.itc__brief-title {
  margin-bottom: 37px;
}

.itc__brief-title {
  max-width: 400px;
}

.gazelkin__brief-pre,
.art__brief-pre,
.itc__brief-pre {
  display: inline-block;
  margin-bottom: 8px;
}

.gazelkin__brief-descr,
.art__brief-descr,
.itc__brief-descr {
  max-width: 400px;
}

.gazelkin__brief-content,
.art__brief-content,
.itc__brief-content {
  margin-bottom: 23px;
}

.gazelkin__btn-wrapper {
  margin-top: 97px;
}

.art__btn-wrapper {
  margin-top: 78px;
}

.itc__btn-wrapper {
  margin-top: 35px;
}

.gazelkin__btn-more,
.art__btn-more,
.itc__btn-more {
  margin-right: 14px;
}

.gazelkin__btn-cases,
.art__btn-cases,
.itc__btn-cases {
  background-image: url("../img/btn-arrow.svg");
  background-position: right;
  padding: 1.4rem 3.924rem;
  padding-left: 2.6rem;
  padding-right: 5.247rem;
  background-position: 84%;
}

.gazelkin__details,
.art__details,
.itc__details {
  display: grid;
  grid-template: 0.5fr 0.5fr / 0.5fr 0.5fr;
  gap: 16px;
}

.gazelkin__details-budget,
.gazelkin__details-cost,
.gazelkin__details-calls,
.gazelkin__details-resp,
.art__details-budget,
.art__details-cost,
.art__details-calls,
.art__details-resp,
.itc__details-budget,
.itc__details-cost,
.itc__details-calls,
.itc__details-resp {
  background-color: var(--color_white);
  padding: 32px 40px;
  border-radius: 35px;
}

.gazelkin__details-decor,
.gazelkin__cost-decor,
.gazelkin__calls-decor,
.art__details-decor,
.art__cost-decor,
.art__calls-decor,
.itc__details-decor,
.itc__cost-decor,
.itc__calls-decor {
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  background-position: center;
  background-color: var(--color_zircon);
  border-radius: 50px;
}

.gazelkin__resp-decor,
.art__resp-decor,
.itc__resp-decor {
  width: 100%;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.gazelkin__budget-cur,
.gazelkin__cost-cur,
.gazelkin__calls-quant,
.art__budget-cur,
.art__cost-cur,
.art__calls-quant,
.itc__budget-cur,
.itc__cost-cur,
.itc__calls-quant {
  margin-bottom: 61px;
}

.gazelkin__resp-cur,
.art__resp-cur,
.itc__resp-cur {
  margin-bottom: 46px;
}

.gazelkin__details-decor,
.art__details-decor,
.itc__details-decor {
  background-image: url("../img/budget.svg");
}

.gazelkin__cost-decor,
.itc__cost-decor {
  background-image: url("../img/cost-down.svg");
}

.gazelkin__calls-decor {
  background-image: url("../img/call.svg");
}

.gazelkin__resp-decor {
  background-image: url("../img/resp-stats.svg");
}

.art__resp-decor {
  background-image: url("../img/art-stats.svg");
}

.itc__resp-decor {
  background-image: url("../img/itc-stats.svg");
}

.gazelkin__tag-item,
.art__tag-item,
.itc__tag-item {
  background-color: var(--color_wild-sand);
  border-radius: 100px;
  padding: 10px 16px;
  line-height: normal;
}

.gazelkin__tags-wrapper,
.art__tags-wrapper,
.itc__tags-wrapper {
  display: flex;
}

.gazelkin__tags-wrapper:first-of-type,
.art__tags-wrapper:first-of-type,
.itc__tags-wrapper:first-of-type {
  margin-bottom: 8px;
}

.gazelkin__tag-item:not(:last-of-type),
.art__tag-item:not(:last-of-type),
.itc__tag-item:not(:last-of-type) {
  margin-right: 8px;
}

.gazelkin__budget-value,
.gazelkin__cost-value,
.gazelkin__calls-value,
.gazelkin__resp-value,
.art__budget-value,
.art__cost-value,
.art__calls-value,
.art__resp-value,
.itc__budget-value,
.itc__cost-value,
.itc__calls-value,
.itc__resp-value {
  margin-bottom: 10px;
}

.art__cost-decor {
  background-image: url("../img/art-user.svg");
}

.art__calls-decor {
  background-image: url("../img/art-case.svg");
}

.itc__calls-decor {
  background-image: url("../img/itc-resume.svg");
}

.swiper-button-next {
  top: calc(100% + 58px);
  right: calc(50% - 54px);
  background-image: url("../img/swiper-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transform: rotate(180deg);
}

.swiper-button-prev {
  top: calc(100% + 58px);
  left: calc(50% - 54px);
  background-image: url("../img/swiper-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color_white);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition-property: box-shadow, background-image, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  background-image: url("../img/swiper-arrow-hover.svg");
  background-color: var(--color_mirage);
}

/* partners */
.page__partners {
  padding: 0 50px;
  margin-bottom: 214px;
}

.page__partners-wrapper {
  max-width: 1416px;
  margin: 0 auto;
}

.page__partners-text {
  text-align: center;
  margin-bottom: 90px;
}

.page__partners-pre {
  margin-bottom: 10px;
  display: inline-block;
}

.page__partners-list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.page__partners-item {
  background-color: var(--color_white);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

/* faq */
.page__faq {
  padding: 0 50px;
  margin-bottom: 90px;
}

.page__faq-wrapper {
  max-width: 1224px;
  margin: 0 auto;
}

.page__faq-text {
  text-align: center;
  margin-bottom: 55px;
}

.ac {
  border: none;
  border-radius: 24px;
  transition: background-color 0.3s ease-in-out;
}

.ac .ac-trigger {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Proxima", sans-serif;
  padding: 30.5px 36px;
  transition: color 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.ac:hover {
  background-color: var(--color_mirage);
}

.ac:hover.is-active {
  background-color: var(--color_white);
}

.ac-trigger:hover {
  color: var(--color_white);
}

.ac.is-active .ac-trigger:hover {
  color: var(--color_mirage);
}

.ac .ac-trigger:focus {
  color: var(--color_mirage);
}

.ac:hover .ac-trigger:focus {
  color: var(--color_white);
}

.ac.is-active .ac-trigger:focus {
  color: var(--color_mirage);
}

.ac .ac-trigger::after {
  content: "";
  width: 40px;
  height: 40px;
  right: 36px;
  top: 28%;
  background-image: url("../img/accordion-plus.png");
  transform: rotate(0);
  transform-origin: center;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  background-image: url("../img/accordion-cross.png");
  transform: rotate(90deg);
}

.ac-trigger:focus-visible {
  outline: none;
}

.ac .ac-panel .ac-text {
  padding: 0 36px 24px 36px;
  font-family: "Proxima", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color_shuttle);
  max-width: 430px;
}

.ac.is-active .ac-trigger {
  padding-bottom: 8px;
}
