/* default */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color_mirage);
}

li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color_white: #ffffff;
  --color_mirage: #1e2a3e;
  --color_mirage-second: #1a222c;
  --color_violet: #8a38f5;
  --color_zircon: #eff5ff;
  --color_ribbon: #005fff;
  --color_shuttle: #616b7c;
  --color_aqua: #eef2f5;
  --color_chalk: #f3ebfe;
  --color_caribbean: #00cc84;
  --color_wild-sand: #f6f6f6;
}

.container {
  max-width: 1666px;
  width: 100%;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.btn {
  font-family: "Proxima", sans-serif;
  background-color: var(--color_white);
  border-radius: 0.8rem;
  padding: 0.638rem 1.6rem;
  color: var(--color_mirage);
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-zircon {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color_ribbon);
  line-height: normal;
  padding: 1.45rem 2.4rem;
  background-color: var(--color_zircon);
  border-radius: 1rem;
}

.btn-ribbon {
  background-color: var(--color_ribbon);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color_white);
  letter-spacing: 0.01em;
  border-radius: 1.2rem;
  padding: 1.8rem 4.8rem;
  line-height: normal;
  background-image: linear-gradient(90deg, #0065ff 0%, #8a38f5 100%);
  background-size: 200% 100%;
  transition: background-position 0.5s ease-out;
}

.btn-ribbon:hover {
  background-position: 100% 0;
}

.btn-ribbon-small {
  background-color: var(--color_ribbon);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color_white);
  letter-spacing: 0.01em;
  border-radius: 1rem;
  padding: 1.35rem 4.8rem;
  line-height: normal;
  background-image: linear-gradient(90deg, #0065ff 0%, #8a38f5 100%);
  background-size: 200% 100%;
  transition: background-position 0.5s ease-out;
}

.btn-ribbon-small:hover {
  background-position: 100% 0;
}

.page__scroll {
  background-color: var(--color_white);
  box-shadow: 0 0 25px 0 rgba(8, 29, 63, 0.15);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: var(--color_shuttle);
  position: fixed;
  bottom: -60px;
  right: 60px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.page__scroll.show {
  bottom: 60px;
}

.page__scroll:hover {
  background-color: var(--color_ribbon);
  box-shadow: 0 0 25px 0 rgba(8, 29, 63, 0.15);
  color: var(--color_white);
}

.page__scroll:focus-visible {
  outline: none;
}

.bg-fix {
  background-repeat: no-repeat;
  background-size: auto;
}

.proxima {
  font-family: "Proxima", sans-serif;
}

.leading-normal {
  line-height: normal;
}

.leading-120 {
  line-height: 120%;
}

.leading-122 {
  line-height: 122%;
}

.leading-130 {
  line-height: 130%;
}

.f11w300 {
  font-size: 1.1rem;
  font-weight: 300;
}

.f12w400 {
  font-size: 1.2rem;
  font-weight: 400;
}

.f13w400 {
  font-size: 1.3rem;
  font-weight: 400;
}

.f14w400 {
  font-size: 1.4rem;
  font-weight: 400;
}

.f14w500 {
  font-size: 1.4rem;
  font-weight: 500;
}

.f15w400 {
  font-size: 1.5rem;
  font-weight: 400;
}

.f15w500 {
  font-size: 1.5rem;
  font-weight: 500;
}

.f16w400 {
  font-size: 1.6rem;
  font-weight: 400;
}

.f16w500 {
  font-size: 1.6rem;
  font-weight: 500;
}

.f16w700 {
  font-size: 1.6rem;
  font-weight: 700;
}

.f17w400 {
  font-size: 1.7rem;
  font-weight: 400;
}

.f18w400 {
  font-size: 1.8rem;
  font-weight: 400;
}

.f18w600 {
  font-size: 1.8rem;
  font-weight: 600;
}

.f20w600 {
  font-size: 2rem;
  font-weight: 600;
}

.f22w600 {
  font-size: 2.2rem;
  font-weight: 600;
}

.f24w600 {
  font-size: 2.4rem;
  font-weight: 600;
}

.f25w500 {
  font-size: 2.5rem;
  font-weight: 500;
}

.f28w500 {
  font-size: 2.8rem;
  font-weight: 500;
}

.f30w400 {
  font-size: 3rem;
  font-weight: 400;
}

.f30w500 {
  font-size: 3rem;
  font-weight: 500;
}

.f30w600 {
  font-size: 3rem;
  font-weight: 600;
}

.f35w400 {
  font-size: 3.5rem;
  font-weight: 400;
}

.f35w600 {
  font-size: 3.5rem;
  font-weight: 600;
}

.f40w600 {
  font-size: 4rem;
  font-weight: 600;
}

.f40w700 {
  font-size: 4rem;
  font-weight: 700;
}

.f50w700 {
  font-size: 5rem;
  font-weight: 700;
}

.f60w700 {
  font-size: 6rem;
  font-weight: 700;
}

.white {
  color: var(--color_white);
}

.shuttle {
  color: var(--color_shuttle);
}

.ribbon {
  color: var(--color_ribbon);
}

.zircon {
  color: var(--color_zircon);
}

.mirage-second {
  color: var(--color_mirage-second);
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* fonts */

@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"),
    url("../fonts/Inter-LightBETA.woff2") format("woff2"),
    url("../fonts/Inter-LightBETA.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova ExtraBold"), local("ProximaNova-ExtraBold"),
    url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"),
    url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* header */
.page__header-wrapper {
  padding: 1.2rem 11rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1666px;
}

.page__navigation-wrapper {
  display: flex;
  align-items: center;
}

.page__header {
  position: relative;
  background-color: var(--color_white);
  box-shadow: 0px 55px 30px 10px #fff;
}

.page__logo-link {
  color: transparent;
  background-image: url("../img/logo-black.svg");
  width: 104px;
  height: 30px;
  display: inline-block;
}

.page__navigation-service {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 0.8rem;
  display: flex;
  column-gap: 10px;
}

.page-dropdown-parent {
  position: relative;
  display: inline-block;
}

.page-dropdown {
  display: flex;
  column-gap: 10px;
  color: var(--color_mirage);
  transition: color 0.3s ease-in-out;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1;
  padding-top: 35px;
  min-width: 185px;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top center;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

.dropdown-menu-list {
  background-color: var(--color_white);
  border-radius: 16px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 9px;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  line-height: normal;
  display: block;
  padding: 10.5px 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
  color: var(--color_ribbon);
}

.page__navigation-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.page-dropdown-parent:hover .page-dropdown {
  color: var(--color_ribbon);
}

.page-dropdown svg {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.page-dropdown-parent:hover svg {
  transform: rotate(180deg);
  color: var(--color_ribbon);
}

.page__header-log {
  margin-left: auto;
}

.page__log-in {
  margin-right: 2.4rem;
}

.page__log-in:hover {
  color: var(--color_ribbon);
}

.page__header-logo {
  margin-right: 66px;
}

.page__navigation-item:not(:last-child) {
  margin-right: 32px;
}

.page__header-mobile {
  display: none;
}

.page__navigation-link {
  transition: color 0.3s ease-in-out;
}

.page__navigation-link:hover {
  color: var(--color_ribbon);
}

/* cta */
.page__cta {
  width: 100%;
  background-color: var(--color_white);
  padding: 90px 50px;
}

.page__cta-wrapper {
  position: relative;
  max-width: 1224px;
  margin: 0 auto;
  background: linear-gradient(144deg, #005fff 0%, rgba(150, 75, 250, 0.8) 100%);
  border-radius: 35px;
  padding: 50px;
  overflow: hidden;
}

.page__cta-title {
  max-width: 564px;
  margin-bottom: 42px;
}

.page__cta-pre {
  margin-bottom: 20px;
}

.page__cta-wrapper::after {
  content: "";
  position: absolute;
  width: 430px;
  height: 430px;
  background-image: url(../img/cta-decor.png);
  right: 137px;
  top: 0;
  background-size: auto;
}

.page__cta-btns {
  display: flex;
  column-gap: 16px;
}

.page__cta-tel {
  margin-bottom: 48px;
}

.page__tel-number {
  font-size: 5.1rem;
  font-weight: 800;
  line-height: 120%;
}

.page__cta-network {
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 13.67px 35.99px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: var(--color_white);
}

/* footer */
.page__footer {
  width: 100%;
  background-color: var(--color_white);
  padding: 90px 50px;
}

.page__footer-wrapper {
  max-width: 1226px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "a a c c d"
    "a a c c d"
    "a a c c d"
    "b b c c d";
  column-gap: 20px;
}

.page__footer-logo {
  color: transparent;
  width: 93px;
  height: 28px;
  background-image: url("../img/footer-logo.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: inline-block;
  margin-bottom: 16px;
}

.page__footer-a {
  display: grid;
  grid-area: a;
  grid-template-areas:
    "a c c c c c c"
    "a c c c c c c"
    "b d d d d d d"
    "b e e e e e e"
    "b e e e e e e";
  margin-bottom: 36px;
  column-gap: 5px;
}

.page__footer-a > .page__registry {
  display: none;
}

.page__footer-b {
  grid-area: b;
  margin-top: -40px;
}

.page__footer-c {
  grid-area: c;
  margin-left: -8px;
}

.page__footer-d {
  grid-area: d;
  transform: translateX(2px);
}

.page__footer-title {
  grid-area: a;
  margin-bottom: 36px;
}

.page__footer-payment {
  grid-area: b;
}

.page__footer-region {
  grid-area: c;
  padding-left: 2px;
}

.page__footer-statements {
  grid-area: d;
  margin-top: -13px;
  margin-bottom: 36px;
  padding-left: 2px;
}

.page__footer-sales {
  grid-area: e;
  padding-left: 2px;
}

.page__registry {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 36px;
}

.page__registry-decor {
  width: 40px;
  height: 40px;
  background-image: url("../img/RF.svg");
  background-repeat: no-repeat;
}

.page__systems-item {
  display: inline-block;
  height: 14px;
}

.mir {
  background-image: url("../img/system-mir.svg");
  width: 48px;
}

.mastercard {
  background-image: url("../img/system-mastercard.svg");
  width: 23px;
}

.visa {
  background-image: url("../img/system-visa.svg");
  width: 42px;
}

.page__systems-item:not(:last-of-type) {
  margin-right: 10px;
}

.page__payment-title {
  margin-bottom: 16px;
}

.page__payment-content {
  max-width: 290px;
}

.page__systems {
  margin-bottom: 32px;
}

.page__region-title {
  margin-bottom: 5px;
}

.page__statements-title {
  margin-bottom: 15px;
}

.page__sales-tel,
.page__sales-mail {
  display: block;
  transition: color 0.3s ease-in-out;
}

.page__sales-tel {
  margin-bottom: 18px;
}
.page__sales-tel:hover,
.page__sales-mail:hover {
  color: var(--color_ribbon);
}

.page__sales-title {
  margin-bottom: 15px;
}

.page__products-title {
  margin-bottom: 10px;
}

.page__products-list {
  line-height: 33px;
}

.page__footer-products {
  margin-bottom: 25px;
}

.page__service-title {
  margin-bottom: 11px;
}

.page__service-list {
  line-height: 33px;
}

.page__docs-title {
  margin-bottom: 10px;
}

.page__docs-list {
  line-height: 33px;
}

.page__statements-item {
  transition: color 0.3s ease-in-out;
}

.page__statements-item:hover {
  color: var(--color_ribbon);
}

.page__products-link {
  transition: color 0.3s ease-in-out;
}

.page__products-link:hover {
  color: var(--color_ribbon);
}

.page__service-link {
  transition: color 0.3s ease-in-out;
}

.page__service-link:hover {
  color: var(--color_ribbon);
}

.page__docs-link {
  transition: color 0.3s ease-in-out;
}

.page__docs-link:hover {
  color: var(--color_ribbon);
}
