/* default */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color_mirage);
}

li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color_white: #ffffff;
  --color_mirage: #1e2a3e;
  --color_mirage-second: #1a222c;
  --color_violet: #8a38f5;
  --color_zircon: #eff5ff;
  --color_ribbon: #005fff;
  --color_shuttle: #616b7c;
  --color_aqua: #eef2f5;
  --color_chalk: #f3ebfe;
  --color_caribbean: #00cc84;
  --color_wild-sand: #f6f6f6;
}

.container {
  max-width: 1666px;
  width: 100%;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.btn {
  font-family: "Proxima", sans-serif;
  background-color: var(--color_white);
  border-radius: 0.8rem;
  padding: 0.638rem 1.6rem;
  color: var(--color_mirage);
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-zircon {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color_ribbon);
  line-height: normal;
  padding: 1.45rem 2.4rem;
  background-color: var(--color_zircon);
  border-radius: 1rem;
}

.btn-ribbon {
  background-color: var(--color_ribbon);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color_white);
  letter-spacing: 0.01em;
  border-radius: 1.2rem;
  padding: 1.8rem 4.8rem;
  line-height: normal;
}

.btn-ribbon-small {
  background-color: var(--color_ribbon);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color_white);
  letter-spacing: 0.01em;
  border-radius: 1rem;
  padding: 1.35rem 4.8rem;
  line-height: normal;
}

.bg-fix {
  background-repeat: no-repeat;
  background-size: auto;
}

.proxima {
  font-family: "Proxima", sans-serif;
}

.leading-normal {
  line-height: normal;
}

.leading-120 {
  line-height: 120%;
}

.leading-130 {
  line-height: 130%;
}

.f11w300 {
  font-size: 1.1rem;
  font-weight: 300;
}

.f12w400 {
  font-size: 1.2rem;
  font-weight: 400;
}

.f13w400 {
  font-size: 1.3rem;
  font-weight: 400;
}

.f14w400 {
  font-size: 1.4rem;
  font-weight: 400;
}

.f14w500 {
  font-size: 1.4rem;
  font-weight: 500;
}

.f15w400 {
  font-size: 1.5rem;
  font-weight: 400;
}

.f15w500 {
  font-size: 1.5rem;
  font-weight: 500;
}

.f16w400 {
  font-size: 1.6rem;
  font-weight: 400;
}

.f16w700 {
  font-size: 1.6rem;
  font-weight: 700;
}

.f17w400 {
  font-size: 1.7rem;
  font-weight: 400;
}

.f18w400 {
  font-size: 1.8rem;
  font-weight: 400;
}

.f18w600 {
  font-size: 1.8rem;
  font-weight: 600;
}

.f22w600 {
  font-size: 2.2rem;
  font-weight: 600;
}

.f24w600 {
  font-size: 2.4rem;
  font-weight: 600;
}

.f25w500 {
  font-size: 2.5rem;
  font-weight: 500;
}

.f28w500 {
  font-size: 2.8rem;
  font-weight: 500;
}

.f30w400 {
  font-size: 3rem;
  font-weight: 400;
}

.f30w500 {
  font-size: 3rem;
  font-weight: 500;
}

.f30w600 {
  font-size: 3rem;
  font-weight: 600;
}

.f35w400 {
  font-size: 3.5rem;
  font-weight: 400;
}

.f35w600 {
  font-size: 3.5rem;
  font-weight: 600;
}

.f50w700 {
  font-size: 5rem;
  font-weight: 700;
}

.f60w700 {
  font-size: 6rem;
  font-weight: 700;
}

.white {
  color: var(--color_white);
}

.shuttle {
  color: var(--color_shuttle);
}

.ribbon {
  color: var(--color_ribbon);
}

.zircon {
  color: var(--color_zircon);
}

.mirage-second {
  color: var(--color_mirage-second);
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* fonts */

@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"),
    url("../fonts/Inter-LightBETA.woff2") format("woff2"),
    url("../fonts/Inter-LightBETA.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  src: local("Proxima Nova ExtraBold"), local("ProximaNova-ExtraBold"),
    url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"),
    url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* header */
.page__header-wrapper {
  padding: 1.2rem 11rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1666px;
}

.page__navigation-wrapper {
  display: flex;
  align-items: center;
}

.page__logo-link {
  color: transparent;
  background-image: url("../img/logo-black.svg");
  width: 104px;
  height: 30px;
  display: inline-block;
}

.page__navigation-service {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 0.8rem;
}

.page__header-log {
  margin-left: auto;
}

.page__log-in {
  margin-right: 2.4rem;
}

.page__header-logo {
  margin-right: 66px;
}

.page__navigation-item:not(:last-child) {
  margin-right: 32px;
}
