.page__main {
  font-family: "Proxima", sans-serif;
}

.page__header {
  background-color: var(--color_aqua);
  box-shadow: none;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.page__header-wrapper {
  padding: 1.2rem 1.6rem;
}

.page__main {
  padding: 9rem 7.95rem;
  background-color: var(--color_aqua);
}

.page__cookies-wrapper {
  padding: 40px;
  border-radius: 35px;
  background-color: var(--color_white);
}

.cookies__wrapper-title {
  text-align: center;
  margin-bottom: 56px;
}

.page__module-title {
  margin-bottom: 17px;
}

.page__content-module:not(:last-child) {
  margin-bottom: 36px;
}

.mobile-break {
  display: none;
}

@media (max-width: 768px) {
  .cookies {
    padding: 2.4rem 1.6rem;
  }

  .page__cookies-wrapper {
    padding: 2.4rem;
    border-radius: 24px;
  }

  .cookies__wrapper-title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 37px;
  }

  .page__module-title {
    font-size: 1.8rem;
  }

  .page__module-text {
    font-size: 1.4rem;
  }

  .page__cookies-content
    > .page__content-module:nth-child(3)
    > .page__module-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .page__promo {
    display: none;
  }

  .cookies {
    padding: 2.4rem 0.4rem;
  }

  .page__cookies-wrapper {
    padding: 2.4rem 1.6rem;
  }

  .page__cookies-content
    > .page__content-module:nth-child(3)
    > .page__module-title {
    margin-bottom: 17px;
  }

  .page__cookies-content
    > .page__content-module:nth-child(4)
    > .page__module-text {
    line-height: 17px;
  }

  .mobile-break {
    display: inline;
  }

  .page__cookies-content
    > .page__content-module:last-child
    > .page__module-text {
    line-height: 17px;
  }
}
