@media (max-width: 1200px) {
  /* quick */
  .page__quick-wrapper {
    overflow: visible;
    min-height: 990px;
  }

  .page__quick-content {
    max-width: 100%;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .page__quick-title {
    font-size: 4rem;
    font-weight: 700;
  }

  .page__quick-decor {
    background-size: contain;
    top: auto;
    bottom: -80px;
    right: 50%;
    transform: translateX(57.3%);
    background-image: url("../../img/quick-decor-768.png");
  }

  .page__quick-platforms {
    justify-content: center;
  }

  .youla::after {
    right: 50%;
    transform: translateX(50%);
  }

  .page__quick-descr {
    width: 100%;
  }

  .page__quick-descr__second {
    width: 100%;
  }

  /* map */
  .page__publish-img {
    left: -22px;
    top: -21px;
    width: 332px;
    height: 332px;
  }

  .page__map-wrapper {
    padding-top: 100px;
  }

  .page__publish-content {
    max-width: 500px;
  }

  .page__responses-img {
    width: 332px;
    height: 332px;
    top: -20px;
    right: -20px;
  }

  .page__communication-img {
    width: 332px;
    height: 332px;
    top: -20px;
    left: -20px;
  }

  .page__map-publish {
    margin-bottom: 200px;
  }

  .page__map-responses {
    margin-bottom: 290px;
  }

  .page__responses-content {
    padding-left: 0;
    max-width: 500px;
  }

  .page__communication-content {
    max-width: 500px;
  }

  /* tools */
  .page__tools-ai::after {
    background-image: url("../../img/ai-bot-768.png");
    background-size: cover;
  }

  .page__tools-top {
    grid-template-areas:
      "a d"
      "a c"
      "e b";
  }

  .page__tools-ai {
    max-width: 100%;
  }

  /* rates */
  .page__rates-personal {
    background-position: 115%;
  }

  /* trust */
  .page__content-guarantees,
  .page__content-it {
    padding: 24px;
    padding-top: 131px;
  }

  .page__guarantees-title,
  .page__it-title {
    font-size: 2.4rem;
  }

  .page__guarantees-item {
    column-gap: 8px;
  }

  /* cases */
  .gazelkin__brief,
  .art__brief,
  .itc__brief {
    padding: 30px;
  }

  .gazelkin__btn-more,
  .art__btn-more,
  .itc__btn-more {
    margin-right: 0;
  }

  .gazelkin__btn-wrapper,
  .art__btn-wrapper,
  .itc__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .gazelkin__btn-wrapper {
    margin-top: 133px;
  }

  .art__btn-wrapper {
    margin-top: 129px;
  }

  .itc__btn-wrapper {
    margin-top: 56px;
  }

  /* partners */
  .page__partners-item {
    padding: 10px;
  }
}

@media (max-width: 990px) {
  /* quick */
  .page__quick-wrapper {
    padding: 0 2.4rem;
    overflow: hidden;
    min-height: 940px;
  }

  .page__quick-content {
    padding-top: 36px;
  }

  .page__quick-descr > span {
    display: none;
  }

  .page__quick-descr {
    margin-bottom: 55px;
  }

  .page__quick-move {
    padding: 1.35rem 4.798rem;
    font-size: 1.8rem;
    margin-bottom: 22px;
  }

  .page__quick-descr__second {
    padding-left: 0;
  }

  .page__quick-decor {
    background-size: auto;
    bottom: -84px;
  }

  /* video */
  .page__video-wrapper {
    min-height: 486px;
  }

  .page__video-title {
    font-size: 4rem;
    top: 20px;
    width: 100%;
    max-width: 100%;
  }

  .video-promo {
    top: 2px;
  }

  /* map */
  .page__map-wrapper {
    padding: 0 24px;
    padding-top: 52px;
    margin-bottom: 139px;
  }

  .page__publish-content,
  .page__communication-content {
    margin-left: 0;
    max-width: calc(100% - 388px);
  }

  .page__publish-img {
    left: auto;
    width: 381px;
    height: 381px;
    right: -24px;
    top: -42px;
  }

  .page__publish-title,
  .page__responses-title,
  .page__communication-title {
    font-size: 40px;
    font-weight: 700;
  }

  .page__publish-move {
    font-size: 2rem;
    width: 100%;
    padding: 1.8rem 4.8rem;
  }

  .page__map-publish {
    margin-bottom: 147px;
  }

  .page__responses-content {
    max-width: calc(100% - 388px);
  }

  .page__responses-img {
    width: 381px;
    height: 381px;
    right: auto;
    left: -24px;
    top: -85px;
  }

  .page__map-responses {
    display: flex;
    justify-content: end;
    margin-bottom: 211px;
  }

  .page__communication-img {
    width: 381px;
    height: 381px;
    left: auto;
    right: -24px;
    top: -106px;
  }

  /* tools */
  .page__tools {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 48px;
  }

  .page__tools-wrapper {
    border-radius: 24px;
    padding: 36px 24px;
  }

  .page__tools-title {
    font-size: 3.5rem;
  }

  .page__tools-pre {
    margin-bottom: 8px;
  }

  .page__tools-text {
    margin-bottom: 54px;
  }

  .page__tools-ai {
    min-width: 158.23px;
    border-radius: 24px;
    text-align: center;
    padding: 16px;
  }

  .page__chat-title,
  .page__search-title,
  .page__ai-title,
  .page__api-title {
    font-size: 2rem;
  }

  .page__tools-ai::after {
    right: 0;
    width: 348px;
    height: 555px;
  }

  .page__storage::before {
    background-image: url("../../img/storage-768.png");
    width: 106px;
    background-size: contain;
    left: 35.5%;
    top: 12px;
  }

  .page__comments-title,
  .page__actions-title,
  .page__storage-title,
  .page__research-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 16px;
  }

  .page__comments,
  .page__actions,
  .page__storage,
  .page__research {
    padding: 16px;
    padding-top: 123px;
    padding-bottom: 23px;
    min-height: auto;
    border-radius: 24px;
  }

  .page__storage-descr,
  .page__actions-descr,
  .page__comments-descr,
  .page__research-descr {
    text-align: center;
  }

  .page__actions::before {
    background-image: url("../../img/actions-768.png");
    width: 95px;
    height: 95px;
    left: 38.5%;
    background-size: contain;
    top: 15px;
  }

  .page__comments::before {
    background-image: url("../../img/comments-768.png");
    width: 104px;
    height: 104px;
    left: 36.1%;
    background-size: contain;
    top: 15px;
  }

  .page__research::before {
    background-image: url("../../img/hands-768.png");
    background-size: contain;
    width: 110px;
    height: 110px;
    left: 35%;
    top: 6px;
  }

  .page__research-title > span:nth-child(2) {
    display: block;
  }

  .page__research-descr > span:nth-child(2) {
    display: block;
  }

  .page__research-title > span:nth-child(1) {
    display: none;
  }

  .page__research-descr > span:nth-child(1) {
    display: none;
  }

  .page__chat-title > span:nth-child(2) {
    display: block;
  }

  .page__chat-descr > span:nth-child(2) {
    display: block;
  }

  .page__chat-title > span:nth-child(1) {
    display: none;
  }

  .page__chat-descr > span:nth-child(1) {
    display: none;
  }

  .page__advantage-chat::before {
    background-image: url("../../img/research-768.png");
    background-size: contain;
    width: 96px;
    height: 96px;
    left: 39%;
    top: 13px;
  }

  .page__advantage-search {
    padding: 16px;
  }

  .page__advantage-chat,
  .page__advantage-search {
    min-height: auto;
    border-radius: 24px;
    text-align: center;
    padding-top: 122px;
    padding-bottom: 24px;
  }

  .page__advantage-search::before {
    background-image: url("../../img/search-768.png");
    background-size: contain;
    width: 95px;
    height: 95px;
    left: 39%;
    top: 15px;
  }

  .page__api {
    border-radius: 24px;
    text-align: center;
    padding: 16px;
  }

  .page__api::before {
    top: -32px;
    left: -16px;
    background-size: contain;
    width: 644px;
  }

  .page__api::after {
    top: -32px;
    left: -32px;
  }

  /* rates */
  .page__rates {
    margin-bottom: 48px;
  }

  .page__rates-title {
    font-size: 4rem;
  }

  .page__rates-container {
    grid-template-columns: 1fr;
    max-width: 480px;
    margin-bottom: 156px;
  }

  .page__rates-text {
    margin-bottom: 37px;
  }

  .page__rates-min,
  .page__rates-mid,
  .page__rates-max {
    border-radius: 24px;
  }

  .page__web-include {
    padding: 26px 24px;
  }

  .page__min-header,
  .page__mid-header,
  .page__max-header {
    padding: 28px;
  }

  .page__min-title,
  .page__mid-title,
  .page__max-title {
    margin-bottom: 6px;
  }

  .page__include-item.youla::after {
    left: 50%;
  }

  .page__update {
    padding: 5px 24px;
  }

  .page__more {
    padding: 24px;
  }

  .page__more-descr {
    padding-right: 0;
  }

  .page__more-wrapper {
    align-items: anchor-center;
  }

  .page__min-main,
  .page__mid-main,
  .page__max-main {
    min-height: 451px;
  }

  .page__min-sale,
  .page__mid-sale,
  .page__max-sale {
    padding: 16px 24px;
  }

  .page__min-total,
  .page__mid-total,
  .page__max-total {
    padding: 20px 24px;
  }

  .page__rates-mid::before {
    border-radius: 24px;
  }

  .page__rates-min {
    margin-bottom: 83px;
  }

  .page__mid-total {
    padding-bottom: 23px;
  }

  .page__rates-mid {
    margin-bottom: 80px;
  }

  .page__max-main > .page__web-include {
    padding: 26px 32px;
  }

  .page__max-main > .page__update {
    padding: 5px 32px;
  }

  .page__max-main > .page__more {
    padding-left: 32px;
  }

  .page__max-main > .page__more-wrapper {
    column-gap: 9px;
  }

  .page__max-main {
    min-height: 446px;
  }

  .page__max-sale {
    padding: 16px 32px;
  }

  .page__max-total {
    padding-bottom: 23px;
  }

  .page__rates-personal {
    max-width: 480px;
    border-radius: 24px;
    text-align: center;
    padding: 24px 16px;
    background-image: none;
  }

  .page__personal-title {
    font-size: 2.8rem;
  }

  .page__personal-descr {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .page__personal-go {
    width: 100%;
  }

  /* trust */
  .page__trust {
    padding: 0 4px;
    margin-bottom: 47px;
  }

  .page__trust-wrapper {
    padding: 24px 16px;
    border-radius: 24px;
  }

  .page__trust-title {
    font-size: 2.8rem;
  }

  .page__trust-pre {
    margin-bottom: 8px;
  }

  .page__trust-text {
    margin-bottom: 35px;
  }

  .page__content-guarantees,
  .page__content-it {
    border-radius: 24px;
  }

  .page__content-guarantees {
    background-position: 20px 5px;
    padding-top: 134px;
  }

  .page__content-it::before {
    top: 5px;
    left: 20px;
  }

  /* cases */
  .page__cases {
    padding: 0 24px;
    margin-bottom: 49px;
  }

  .page__cases-title {
    margin-bottom: 109px;
  }

  .page__cases-title {
    font-size: 4rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: -52px;
  }

  .gazelkin__wrapper,
  .art__wrapper,
  .itc__wrapper {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .gazelkin__details,
  .art__details,
  .itc__details {
    grid-template: 1fr / 1fr;
  }

  .gazelkin__btn-wrapper {
    margin-top: 36px;
    display: grid;
    grid-template: 1fr / 1fr;
    row-gap: 9px;
  }

  .gazelkin__brief,
  .art__brief,
  .itc__brief {
    padding: 24px 16px;
    text-align: center;
    border-radius: 24px;
  }

  .gazelkin__brief-title,
  .art__brief-title,
  .itc__brief-title {
    margin-bottom: 24px;
  }

  .itc__brief-title {
    max-width: 100%;
  }

  .gazelkin__brief-descr,
  .art__brief-descr,
  .itc__brief-descr {
    max-width: 100%;
    text-align: left;
  }

  .gazelkin__tags-wrapper:first-of-type,
  .art__tags-wrapper:first-of-type,
  .itc__tags-wrapper:first-of-type {
    margin-bottom: 0;
  }

  .gazelkin__tags {
    display: flex;
    justify-content: center;
    column-gap: 8px;
  }

  .gazelkin__btn-cases,
  .art__btn-cases,
  .itc__btn-cases {
    background-position: calc(50% + 45px);
  }

  .gazelkin__details-decor,
  .gazelkin__cost-decor,
  .gazelkin__calls-decor,
  .art__details-decor,
  .art__cost-decor,
  .art__calls-decor,
  .itc__details-decor,
  .itc__cost-decor,
  .itc__calls-decor {
    display: none;
  }

  .gazelkin__budget-cur,
  .gazelkin__cost-cur,
  .gazelkin__calls-quant,
  .art__budget-cur,
  .art__cost-cur,
  .art__calls-quant,
  .itc__budget-cur,
  .itc__cost-cur,
  .itc__calls-quant {
    margin-bottom: 0;
  }

  .gazelkin__details-budget,
  .gazelkin__details-cost,
  .gazelkin__details-calls,
  .gazelkin__details-resp,
  .art__details-budget,
  .art__details-cost,
  .art__details-calls,
  .art__details-resp,
  .itc__details-budget,
  .itc__details-cost,
  .itc__details-calls,
  .itc__details-resp {
    padding: 16px;
    border-radius: 16px;
  }

  .gazelkin__budget-value,
  .gazelkin__cost-value,
  .gazelkin__calls-value,
  .gazelkin__resp-value,
  .art__budget-value,
  .art__cost-value,
  .art__calls-value,
  .art__resp-value,
  .itc__budget-value,
  .itc__cost-value,
  .itc__calls-value,
  .itc__resp-value {
    font-size: 2.4rem;
    margin-bottom: 9px;
  }

  .gazelkin__details,
  .art__details,
  .itc__details {
    gap: 7px;
  }

  .gazelkin__resp-decor,
  .art__resp-decor,
  .itc__resp-decor {
    display: none;
  }

  .gazelkin__resp-cur,
  .art__resp-cur,
  .itc__resp-cur {
    margin-bottom: 0;
  }

  .art__tags {
    display: flex;
    column-gap: 8px;
    justify-content: center;
  }

  .art__btn-wrapper {
    margin-top: 36px;
    display: grid;
    grid-template: 1fr / 1fr;
    row-gap: 9px;
  }

  .itc__tags {
    display: flex;
    column-gap: 8px;
    justify-content: center;
  }

  .itc__btn-wrapper {
    margin-top: 36px;
    display: grid;
    grid-template: 1fr / 1fr;
    row-gap: 9px;
  }

  /* partners */
  .page__partners {
    padding: 0 16px;
    margin-bottom: 24px;
  }

  .page__partners-title {
    font-size: 4rem;
  }

  .page__partners-pre {
    margin-bottom: 8px;
  }

  .page__partners-item:first-child {
    grid-area: a;
  }

  .page__partners-item:nth-child(2) {
    grid-area: b;
  }

  .page__partners-item:nth-child(3) {
    grid-area: c;
  }

  .page__partners-item:nth-child(4) {
    grid-area: d;
  }

  .page__partners-item:nth-child(5) {
    grid-area: e;
  }

  .page__partners-item:nth-child(6) {
    grid-area: f;
  }

  .page__partners-item:nth-child(7) {
    grid-area: g;
  }

  .page__partners-item:nth-child(8) {
    grid-area: h;
  }

  .page__partners-item:nth-child(9) {
    grid-area: i;
  }

  .page__partners-item:last-child {
    grid-area: j;
  }

  .page__partners-list {
    grid-template: none;
    grid-template-areas:
      "a a c c b b"
      "g g g j j j"
      "e e d d f f"
      "h h h i i i";
  }

  .page__partners-item {
    border-radius: 16px;
  }

  .page__partners-text {
    margin-bottom: 37px;
  }

  /* faq */
  .page__faq {
    display: none;
  }
}

@media (max-width: 690px) {
  /* quick */
  .page__quick-decor {
    width: 580px;
    background-size: contain;
    bottom: -140px;
  }

  /* map */
  .page__map-wrapper {
    margin-bottom: 52px;
  }

  .page__publish-img,
  .page__responses-img,
  .page__communication-img {
    position: initial;
    width: 450px;
    display: inline-block;
    flex-shrink: 0;
    height: auto;
  }

  .page__map-publish {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 52px;
  }

  .page__publish-content {
    max-width: 100%;
    text-align: center;
  }

  .page__map-responses {
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }

  .page__responses-content {
    max-width: 100%;
    text-align: center;
  }

  .page__map-communication {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .page__communication-content {
    max-width: 100%;
    text-align: center;
    padding-right: 0;
  }

  /* cases */
  .gazelkin__tags,
  .art__tags,
  .itc__tags {
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media (max-width: 550px) {
  /* trust */
  .page__trust-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

@media (max-width: 480px) {
  /* quick */
  .page__quick-wrapper {
    padding: 2.4rem 1.6rem;
  }

  .page__quick-content {
    padding-top: 0;
  }

  .page__quick-platforms {
    flex-wrap: wrap;
  }

  .page__quick-move {
    padding: 1.35rem 2.798rem;
    width: 100%;
  }

  .page__quick-decor {
    background-image: url("../../img/quick-decor-320.png");
    width: 320px;
    height: 324px;
    right: 50%;
    transform: translateX(50%);
    bottom: 0px;
  }

  .page__quick-wrapper {
    min-height: 959px;
  }

  /* video */
  .page__video-title {
    line-height: 130%;
    top: 23px;
  }

  .video-modal video {
    max-width: 90vw;
    max-height: 90vh;
  }

  .video-promo {
    top: 53px;
  }

  /* map */
  .page__map-wrapper {
    padding: 2.2rem 1.6rem;
    overflow: hidden;
    margin-bottom: 2px;
  }

  .page__publish-img,
  .page__responses-img,
  .page__communication-img {
    width: auto;
  }

  .page__publish-img {
    position: relative;
    top: 2px;
    width: 331px;
    background-size: contain;
    left: 0px;
  }

  .page__responses-img {
    position: relative;
    width: 330px;
    top: 0;
    left: 0px;
  }

  .page__communication-img {
    position: relative;
    width: 331px;
    top: 0;
    left: 0;
  }

  .page__map-responses {
    margin-bottom: 32px;
  }

  .page__map-publish {
    margin-bottom: 33px;
  }

  .page__responses-title {
    margin-bottom: 15px;
  }

  /* tools */
  .page__tools-wrapper {
    padding: 3.6rem 1.6rem;
    padding-bottom: 22px;
  }

  .page__tools-ai {
    min-height: 401px;
  }

  .page__tools-ai::after {
    top: -88px;
  }

  .page__tools-top {
    grid-template-areas:
      "a"
      "c"
      "e"
      "b"
      "d";
  }

  .page__tools-bottom {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 17px;
  }

  .page__advantage {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
  }

  .page__research-title > span:nth-child(1),
  .page__research-descr > span:nth-child(1),
  .page__chat-title > span:nth-child(1),
  .page__chat-descr > span:nth-child(1) {
    display: block;
  }

  .page__research-title > span:nth-child(2),
  .page__research-descr > span:nth-child(2),
  .page__chat-title > span:nth-child(2),
  .page__chat-descr > span:nth-child(2) {
    display: none;
  }

  .page__research::before {
    background-image: url("../../img/research-768.png");
    left: 36.4%;
    top: 14px;
    width: 95px;
  }

  .page__actions::before {
    left: 36.5%;
    top: 14px;
  }

  .page__comments,
  .page__actions,
  .page__storage,
  .page__research {
    padding-bottom: 22px;
  }

  .page__comments::before {
    left: 33.1%;
    top: 14px;
  }

  .page__storage::before {
    left: 32.5%;
  }

  .page__api {
    min-height: 401px;
  }

  .page__advantage-search::before {
    left: 36.5%;
    top: 14px;
  }

  .page__advantage-chat::before {
    background-image: url("../../img/hands-768.png");
  }

  .page__advantage-chat {
    padding: 1.6rem;
    padding-top: 123px;
    padding-bottom: 22px;
  }

  .page__advantage-chat::before {
    left: 32%;
    top: 5px;
    width: 107px;
    height: 107px;
  }

  /* rates */
  .page__rates {
    padding: 0 16px;
  }

  .page__rates-text {
    margin-bottom: 38px;
  }

  .page__rates-title {
    text-align: center;
  }

  .page__rates-pre {
    margin-bottom: 6px;
  }

  .page__rates-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
  }

  .page__include-title {
    margin-bottom: 23px;
  }

  .page__more {
    padding-top: 26px;
  }

  .page__min-main,
  .page__mid-main,
  .page__max-main {
    min-height: 450px;
  }

  .page__max-descr {
    text-align: center;
  }

  .page__include-list {
    row-gap: 2px;
    flex-wrap: wrap;
  }

  .page__max-main .page__web-include .vk {
    margin-left: -0.5px;
  }

  .page__max-main > .page__more-title {
    margin-bottom: 6px;
  }

  .page__more-wrapper {
    column-gap: 8px;
  }

  /* guarantees */
  .page__content-guarantees {
    background-position: 12px 4px;
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 23px;
  }

  .page__content-it::before {
    top: 4px;
    left: 12px;
    width: 107px;
    height: 135px;
  }

  .page__content-it {
    padding: 24px 16px;
    padding-top: 131px;
  }

  /* cases */
  .page__cases {
    padding: 0 1.6rem;
  }

  .page__cases-pre {
    margin-bottom: 8px;
  }

  .itc__brief-title {
    hyphens: auto;
  }

  .gazelkin__wrapper,
  .art__wrapper,
  .itc__wrapper {
    display: flex;
    flex-direction: column;
  }

  .art__tags-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .itc__tags-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }

  .gazelkin__tags-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }

  .art__tags-wrapper {
    row-gap: 8px;
  }

  /* partners */
  .page__partners-list {
    grid-template-areas:
      "a b"
      "c c"
      "e f"
      "d d"
      "g j"
      "h i";
  }
}
