@media (max-width: 1200px) {
  /* CTA */
  .page__cta-wrapper::after {
    right: 0;
    background-image: url("../../img/cta-decor-768.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 296px;
    height: 307px;
    top: -15px;
  }

  /* footer */
  .page__footer-b {
    margin-top: -20px;
  }
}

@media (max-width: 990px) {
  /* header */
  .page__header-wrapper {
    padding: 21px 16px;
    background-color: var(--color_aqua);
    transition: background-color 0.3s ease-in-out;
    padding-right: 31px;
  }

  .page__logo-link {
    background-image: url("../../img/logo-black-768.svg");
    width: 95px;
    height: 30px;
    background-repeat: no-repeat;
  }

  .page__header-wrapper.active {
    background-color: var(--color_white);
  }

  .page__header-navigation,
  .page__header-log {
    display: none;
  }

  .page__header-mobile {
    position: absolute;
    background-color: white;
    z-index: 2;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    transition-property: max-height, padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .page__header-mobile.active {
    border-top: 1px solid var(--color_aqua);
    padding: 36px 36px;
    max-height: 457px;
  }

  .page__header-burger {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: var(--color_ribbon);
    border-radius: 2px;
    margin-left: auto;
    transition: background-color 0.3s ease-in-out;
  }

  .page__header-burger::before,
  .page__header-burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--color_ribbon);
    border-radius: 2px;
    transition-property: transform, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .page__header-burger::before {
    top: -8px;
  }

  .page__header-burger::after {
    top: 8px;
  }

  .page__header-burger.active {
    background-color: transparent;
  }

  .page__header-burger.active::before {
    transform: rotate(45deg) translate(3.5px, 8px);
    width: 30px;
  }

  .page__header-burger.active::after {
    transform: rotate(-45deg) translate(3.5px, -8px);
    width: 30px;
  }

  .page__mobile-link.login,
  .page__mobile-link.reg {
    font-size: 25px;
    font-weight: 700;
  }

  .page__mobile-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .page__mobile-item:nth-child(7) {
    margin-bottom: 30px;
  }

  .page__mobile-item:nth-child(8) {
    margin-bottom: 16px;
  }

  /* cta */
  .page__cta {
    padding: 0;
  }

  .page__cta-wrapper {
    border-radius: 0;
    padding: 36px 24px;
  }

  .page__cta-title {
    font-size: 3rem;
    max-width: 55%;
    margin-bottom: 48px;
  }

  .page__cta-pre {
    letter-spacing: 0.02em;
    margin-bottom: 19px;
  }

  .page__tel-number {
    font-size: 3rem;
  }

  .page__cta-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .page__cta-tel {
    margin-bottom: 52px;
  }

  /* footer */
  .page__footer {
    padding: 36px 40px;
  }

  .page__footer-wrapper {
    grid-template-areas:
      "a a a a"
      "c c d d"
      "b b b b";
    column-gap: 68px;
  }

  .page__footer-a > .page__registry {
    display: flex;
    grid-area: f;
    margin-top: -21px;
  }

  .page__footer-b > .page__registry {
    display: none;
  }

  .page__footer-b {
    text-align: center;
    margin-top: 26px;
  }

  .page__footer-title {
    margin-bottom: 22px;
  }

  .page__footer-a {
    column-gap: 10px;
    grid-template-areas:
      "a c c c c c c c c c c c c c c c c c c c c c c c c c c c c"
      "b d d d d d d d d d d d d d d d d d d d d d d d d d d d d"
      "b e e e e e e e e e e e e e e e e e e e e e e e e e e e e"
      "f f f f f f f f f f f f f f f f f f f f f f f f f f f f f";
    margin-bottom: 0;
  }

  .page__payment-content {
    max-width: 340px;
  }

  .page__footer-region,
  .page__footer-statements,
  .page__footer-sales {
    padding-left: 0;
  }

  .page__region-title {
    margin-bottom: 4px;
  }

  .page__footer-statements {
    margin-top: -14px;
    margin-bottom: 24px;
  }

  .page__statements-title {
    margin-bottom: 16px;
  }

  .page__footer-c {
    margin-left: 0;
  }

  .page__systems {
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  /* footer */
  .page__footer-d {
    padding-left: 50px;
  }
}

@media (max-width: 550px) {
  /* footer */
  .page__footer-a > .page__registry {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  /* CTA */
  .page__cta-wrapper {
    padding: 2.4rem;
  }

  .page__cta-pre {
    text-align: center;
  }

  .page__cta-title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 265px;
  }

  .page__cta-wrapper::after {
    width: 241px;
    height: 241px;
    top: 201px;
    right: 50%;
    transform: translateX(50%);
  }

  .page__cta-tel {
    text-align: center;
    margin-bottom: 48px;
  }

  .page__cta-btns {
    grid-template-columns: 1fr;
    row-gap: 7px;
  }

  /* footer */
  .page__footer {
    padding: 2.4rem 1.6rem;
  }

  .page__footer-title,
  .page__footer-payment,
  .page__footer-region,
  .page__footer-statements,
  .page__footer-sales,
  .page__footer-products,
  .page__footer-service,
  .page__footer-docs {
    text-align: center;
  }

  .page__footer-payment {
    margin-bottom: 37px;
  }

  .page__footer-title {
    margin-bottom: 35px;
  }

  .page__footer-a > .page__registry {
    display: none;
  }

  .page__footer-b > .page__registry {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
  }

  .page__footer-a {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .page__footer-d {
    padding-left: 0;
  }

  .page__footer-wrapper {
    grid-template-areas:
      "a"
      "c"
      "d"
      "b";
  }

  .page__footer-statements {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .page__footer-region {
    margin-bottom: 35px;
  }

  .page__footer-c {
    margin-bottom: 25px;
  }

  .page__registry-content {
    text-align: left;
  }
}
